<div id="answer-block-{{ answer.id }}">
  {% if current_player and current_player.current_guess == answer.id %}
  <button class="button primary" id="button-{{ answer.id }}">
    {{ answer.text }}
  </button>
  {% else %}
  <button class="button" id="button-{{ answer.id }}">{{ answer.text }}</button>
  {% endif %}

  <form
    id="{{ answer.id }}"
    ws-send
    hx-trigger="click from:#button-{{ answer.id }}"
  >
    {% if current_player and current_player.current_guess %}
    <input name="Command" type="hidden" value="UnsetGuess" />
    {% else %}
    <input name="Command" type="hidden" value="SetGuess" />
    <input name="Value" type="hidden" value="{{ answer.id }}" />
    {% endif %}
  </form>
</div>
