<div class="button-group" id="answers">
  {% for answer in question.answers %}
  <button
    class="{{ answer.button_class }}"
    hx-get="{{ answers_url }}?guess={{ answer.text }}"
    hx-target="#answers"
    hx-trigger="click once"
  >
    {{ answer.text }}
  </button>
  {% endfor %} {% if question.guess %}
  <div
    style="display: none"
    hx-get="/redirect-to?to=/"
    hx-trigger="load delay:3s"
  ></div>
  {% endif %}
</div>

<style>
  .shake {
    animation: shake 0.5s;
  }

  .bounce {
    animation: bounce 0.5s;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-5px);
    }

    40% {
      transform: translateX(5px);
    }

    60% {
      transform: translateX(-5px);
    }

    80% {
      transform: translateX(5px);
    }

    100% {
      transform: translateX(0);
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    30% {
      transform: translateY(5);
    }

    70% {
      transform: translateY(-2);
    }

    100% {
      transform: translateY(0);
    }
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
</style>
