<div id="answer-block-{{ answer.id }}">
  {% for player in game_session.players %} {% if player.current_guess ==
  answer.id %}
  <div class="avatar-mini-block">
    <div class="avatar-mini-img">
      <img src="{{ player.avatar.url }}" alt="{{ player.avatar.name }}" />
    </div>
  </div>
  {% endif %} {% endfor %}
  <button class="{{ answer.button_class }}" id="button-{{ answer.id }}">
    {{ answer.text }}
  </button>
  <input
    ws-send
    hx-trigger="click from:#button-{{ answer.id }}"
    id="{{ answer.id }}"
    name="SetGuess"
    type="hidden"
    value="{{ answer.id }}"
  />
</div>
