<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
    <title>Document</title>
  </head>
  <body>
    <div class="root">
      <div class="container">
        <div class="card">
          <h2 class="title" id="question">Question will be displayed here</h2>
        </div>
        <div class="button-group is-horizontal-align">
          <button class="button" id="answer1">Answer 1</button>
          <button class="button" id="answer2">Answer 2</button>
          <button class="button" id="answer3">Answer 3</button>
          <button class="button" id="answer4">Answer 4</button>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="https://unpkg.com/htmx.org@2.0.2"></script>
<style>
  body {
    overflow: hidden; /* disable scroll */
    height: 100vh; /* set body height to screen height */
  }
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0
  }
</style>
