<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="htmx-config" content='{"defaultSwapDelay":"500"}' />
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div
      class="root fade-in"
      ws-connect="/game-session?game_session_id={{ game_session.id }}"
      hx-ext="ws"
    >
      <div class="container">
        <div class="row">
          <div class="col">{% include 'players.html' %}</div>
        </div>
        <div class="row">
          <div class="col">{% include 'question.html' %}</div>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="https://unpkg.com/htmx.org@2.0.2"></script>
<script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
