<div id="players">
  {% for player in game_session.active_players %}
  <div class="avatar-block" id="player-{{ player.session_id }}">
    <div class="avatar-img">
      <img src="{{ player.avatar.url }}" alt="{{ player.avatar.name }}" />
    </div>
    <p class="text-center">
      Anonymous
      <span class="text-primary">{{ player.avatar.name }}</span><br />
      {% if player_session_id == player.session_id %}
      <span class="text-grey">(that's you)</span>
      {% endif %}
      <br />
      {% include 'player-status.html' %}
    </p>
  </div>
  {% endfor %}
</div>

<style>
  .avatar-img {
    max-width: 128px;
    max-height: 128px;
  }
  .avatar-block {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #players {
    display: flex;
    justify-content: space-around;
  }
</style>
